<footer class="mt-24 border-t border-border-dark relative z-10">
  <div class="container mx-auto px-4 py-8">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
      <p class="text-text-dark-secondary text-sm">© 2025 IdeaValidator. All rights reserved.</p>
      <div class="flex items-center gap-2">
        <a href="https://ideavalidator-reddit.vercel.app/" class="flex items-center gap-2 hover:opacity-90 transition-opacity">
        <img src="/idea-validator-favicon.png" alt="IdeaValidator Logo" class="h-8 w-8">
        <span class="text-white text-xl font-bold leading-tight tracking-[-0.015em]">IdeaValidator</span>
      </a>
      </div>
    </div>
  </div>
</footer>
